package templates

import m "arnesteen.de/writing-wiki/model"

templ TArticle(article *m.Article, article_text *m.ArticleText) {
  <h3>{article.Title}</h3>
  <p>{article_text.Content}</p>
}

templ TArticlesList(articles []m.Article) {
  <ul>
  for _, article := range articles {
    <li><a href={templ.SafeURL("/articles/"+article.Title) }>{article.Title}</a></li>
  }
  </ul>
}
